---
import HeaderVideo from '../assets/videocabesa.mp4';
import Test from '../assets/test.png';
import Virginia from "../assets/virginia.png";

---
<style>
  @keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  .animate-scroll {
    animation: scroll 15s linear infinite;
  }
</style>
<main class="relative z-0 flex flex-col justify-center w-full h-[100vh]">
	<video
		src={HeaderVideo}
		autoplay
		loop
		muted
		class="object-cover absolute h-full w-full z-1"
		id="video"></video>
	<div
		class="absolute w-full h-full opacity-[0.7] z-2" 
		style={`background-color: ${ 'rgba('+(Math.random() * 255)+', '+(Math.random() * 255)+', '+(Math.random() * 255)+', 0.5)' }`}
		id="backdrop"
	></div>
	<div class="fixed z-5 w-full top-[15%] left-0 flex flex-col justify-center items-center">
		<h1 
			class="text-6xl font-bold mb-4"
			style={`color: ${ 'rgba('+(Math.random() * 255)+', '+(Math.random() * 255)+', '+(Math.random() * 255)+', 0.5)' }`}
		>Curso frontend</h1>
		<div class="z-5 flex flex-col justify-center items-center w-[100vw]">
			<p style={`color: ${ 'rgba('+(Math.random() * 255)+', '+(Math.random() * 255)+', '+(Math.random() * 255)+', 0.5)' }`}>Participantes</p>
			<div class="w-full animate-scroll">
				<div class="w-full flex justify-center mt-10 gap-4">
					<div>
						<img src={Test.src} alt="Participantes" class="w-[150px] mt-4 rounded-full shadow-lg" />
						<p class="text-white text-center">Name</p>
					</div>
					<div>
						<img src={Test.src} alt="Participantes" class="w-[150px] mt-4 rounded-full shadow-lg" />
						<p class="text-white text-center">Name</p>
					</div>
					<div>
						<img src={Test.src} alt="Participantes" class="w-[150px] mt-4 rounded-full shadow-lg" />
						<p class="text-white text-center">Name</p>
					</div>
					<div>
						<img src={Test.src} alt="Participantes" class="w-[150px] mt-4 rounded-full shadow-lg" />
						<p class="text-white text-center">Name</p>
					</div>
					<div>
						<img src={Test.src} alt="Participantes" class="w-[150px] mt-4 rounded-full shadow-lg" />
						<p class="text-white text-center">Name</p>
					</div>
					<div>
						<img src={Test.src} alt="Participantes" class="w-[150px] mt-4 rounded-full shadow-lg" />
						<p class="text-white text-center">Name</p>
					</div>
					<div>
						<img src={Virginia.src} alt="Participantes" class="w-[150px] mt-4 rounded-full shadow-lg" />
						<p class="text-white text-center">Virginia</p>
					</div>				
				</div>
			</div>
		</div>
	</div>
</main>
